mixin header(addLinksButton)

  header.header
    .header__left
      .header__logo 
        a(href="index.html").link_button
    .header__right
      a().header__phone
      .header__separator
      include ../langs/langs.pug
      if addLinksButton
        include ../links-button/links-button.pug
    .header__menu