mixin menu-inner( current_page, current_city )
  .menu-inner(data-city=current_city)
    .menu-inner__wrapper
      .menu-inner__button-close
      ul.menu-inner__list
        .menu-inner__items
        include ../links-button/links-button.pug
      .menu-inner__download
        .menu-inner__download-button
          a(href="#").link_button
            .menu-inner__download-button-img
            .menu-inner__download-button-text
        p.menu-inner__footer
          .menu-inner__footer-text
          a(href="https://www.raiffeisen.ru" target="_blank").menu-inner__footer-link
            |www.raiffeisen.ru
  block