<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 96 111.2" style="enable-background:new 0 0 96 111.2;" xml:space="preserve" preserveAspectRatio="none">
<style type="text/css">
	.outline{fill:none;stroke:#6E5B67;stroke-miterlimit:10;}
	.fill{fill:#6E5B67;}
</style>
<path class="outline" d="M48.1,0.6l47.6,27.2l0,54.8l-47.6,27.6L0.5,83l0-54.8L48.1,0.6z"/>
<path class="fill" d="M48,8.2L89,31.7L89,78.8l-40.9,23.7L7.2,79.1L7.2,32L48,8.2z"/>
</svg>