	<meta charset="utf-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- <meta name="format-detection" content="telephone=no"> -->

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="icon" href="favicon.ico">

	<!--OPEN GRAPH COMPLETE-->



	<!-- Ниже автоматически вставляются css библиотеки -->
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->


	<link rel="stylesheet" href="fonts/fonts.css">
	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->


	<!-- >>> SCRIPTS >>> -->
	
	<!-- <script src="scripts/libs/..js"></script> --> <!-- embeding of a lib example -->

	<!-- build:js scripts/main.js -->
		<!-- <script src="../components/../..js"></script> --> <!-- embeding of a component example -->
	<!-- endbuild -->

	<!-- <<< SCRIPTS <<< -->

