// colors //
$border-bottom: #ddd9db;
$disectiv: #b3aaaf;
$active: #6d5b66;

$light: #a2969c;

$menu-active: #a2969c;
$COLOR-GRAY_LIGHT: #c7c0c3;
$sdark:#4c3440;

// b3aaaf

$BORDER-PHONE: 10px;
$BORDER-TABLET: 18px;
$BORDER-DESKTOP: 25px;
$BORDER-DESKTOP-REM: 25rem;

$PADDING-HEADER-PHONE: 13px;
$PADDING-HEADER-TABLET: 40px;
$PADDING-HEADER-DESKTOP: 50px;

$MARGIN-PART:0 292px 0 40px;
$MARGIN-PART-REM: 0 292rem 0 40rem;

$MENU-INNER-PHONE: 15px;

$MENU-INNER-PHONE-W: 270px;


 // content-part-column //
$CONT-P-COL-MARGIN: 115px;
$CONT-P-COL-MARGIN-REM: 115rem;

$CONT-P-COL: 350px;
$CONT-P-COL-REM: 400rem;

$CONT-P-COL-BIG: 636px;
$CONT-P-COL-BIG-REM: 500rem;

$CONT-P-COL-SMALL: 241px;
$CONT-P-COL-SMALL-REM: 241rem;

$CONT-P-MARGIN: #{57px - $BORDER-TABLET};
$CONT-P-MARGIN-CONTACTS: 57px;

// PHONE LINE
$PHONE-H_DESKTOP: 22px; $PHONE-H_TABLET_REM: 22rem;
$PHONE-H_TABLET: 16px;
$PHONE-H_PHONE: 16px;

$PHONE-PT_PHONE: 20px;

// ADAPTIVE

$WIDTH-PHONE-N:768px;
$WIDTH-TABLET-N: 1024px;
$WIDTH-DESKTOP-1200: 1200px;
$WIDTH-DESKTOP-N: 1600px;

// Z-INDEX
$Z-MENU: 50;
$Z-ORIENTATIO-WARNING: 1000;


/// header 
$HEADER-HEIGHT: 155px;
$HEADER-HEIGHT-REM: 155rem;
$HEADER-HEIGHT-PHONE: 80px;
$HEADER-HEIGHT-TABLET: 116px;

// menu-inner

$MENU-INNER-WEDTH: 292px;
$MENU-INNER-WEDTH-REM: 292rem;

$HEIGHT-ULTRA: 750px;
