mixin city-tab__text(title)
  .city-tab__text&attributes(attributes)
    h4.city-tab__text-title= title
    block


mixin city-tab__text-item()
  .city-tab__text-item&attributes(attributes)
    block
